* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

.container-box {
  width: 100%;
  height: 500vh;
}

.container-top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(236, 235, 235);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 15px 0px 15px 20px;
  font-size: 15px;
}

.left-items {
  position: sticky;
  display: flex;
  align-items: center;
  gap: 15px;
}

.email {
  margin-left: 15px;
}

.email > a {
  text-decoration: none;
  color: black;
}

.email > a:hover {
  color: red;
}

.right-items {
  display: flex;
  align-items: center;
  gap: 15px;
}

.items-menu {
  display: flex;
  align-items: center;
  margin-right: 50px;
  margin-bottom: 0px;
  padding-left: 0px;
  gap: 30px;
}

.items-menu > li > a {
  text-decoration: none;
  color: black;
}

.items-menu > li > a:hover {
  color: red;
}

.dropdown > a {
  background-color: rgb(236, 235, 235);
  border: none;
  color: black;
}

.dropdown-products > a {
  background-color: transparent;
  border: none;
  color: black;
  font-weight: 500;
}

.dropdown-products > a:hover {
  background-color: transparent;
  border: none;
  color: red;
}

.container-header {
  position: relative;
  background-color: whitesmoke;
  padding: 20px 0 20px 0;
  z-index: 1;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  display: flex;
  align-items: center;
  margin-right: 50px;
  margin-bottom: 0px;
  gap: 30px;
  font-size: 17px;
  font-weight: 500;
}

.menu-list > a,
li,
span {
  color: black;
  text-decoration: none;
  z-index: 1;
}

.menu-list > a:hover {
  color: red;
}

.container-carousel {
  position: relative;
  top: -45px;
  margin-top: 24px;
  z-index: 0;
}

.container-infissi {
  position: relative;
  top: -45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px 0px 80px 0px;
  background-color: whitesmoke;
}

.infissi-title > h3 {
  font-size: 35px;
  margin-bottom: 40px;
}

.container-infissi-list {
  width: 85%;
}

.infissi-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px 40px 0px;
  gap: 200px;
  width: 100%;
}

.card > a > img {
  background-color: whitesmoke;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}

.card-text {
  width: 100%;
  text-align: center;
}

.card-body > a {
  text-decoration: none;
  color: black;
}

.card-body > a:hover {
  color: black;
}

.container-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 100px 0px 100px 60px;
  width: 60%;
}

.text-title {
}

.text > p {
}

.container-text2 {
  display: flex;
  flex-direction: column;
  text-align: end;
  margin: 100px 0px 100px 60px;
  margin-left: 700px;
  width: 60%;
}

.text-title2 {
}

.text2 > p {
}

.container-text3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  padding: 40px;
  background-color: rgb(189, 15, 15);
}

.text-title3 > h3 {
  color: white;
}

.text3 > p {
  color: white;
}

.container-text4 {
}

.text-title4 {
}

.text-subtitle4 {
}

.contacts-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 35%;
}

.input-label {
}

.input-field {
}

.input-textarea {
}
